.container-fluid{
	max-width: 900px;
}
.panel{
    margin: auto;
    text-align: center;
    border: 2px solid green;
    border-radius: 7px;
}
.td{
	display: inline-block;
    width: 270px;
    margin: 10px;
}
.bold-column{
	display: inline-block;
    font-weight: bold;
    width: 70px;
    margin-left: 20px;
}
.table{
	display: inline-block;
	background-color: #d7ebf5;
	padding: 10px;
	padding-top: 20px;
}
.wrapper{
	width: 450px;
}
.bio, .other_contacts{
	float: left;
	margin-top: 10px;
}
.message{
	display: inline-block;
	font-size: 20px;
	margin: 20%;

}