.container-fluid{
	max-width: 900px;
}
.panel-success{
    margin: auto;
    text-align: center;
    border: 2px solid green;
    border-radius: 7px;
}
td{
    width: 200px;
}
hr{
    border: none; 
    color: green; 
    background-color: green; 
    height: 2px;
    margin-bottom: 5px;
}
.bold-column{
    font-weight: bold;
    width: 70px;
}
.inner{
    margin: -9px;
}
.panel-info{
    margin: auto;
    text-align: left;
    background-color: #bce8f1
}
.last{
	padding: 50px;
	padding-bottom: 20px;
	font-size: 20px;
}
.path{
	margin-left: 70px;
}
.count{
	width: 30px;
}
.req{
	margin-left: 5%;
	margin-top: -20px
}
.back{
	margin-left: 5%;
}
.panel-body h1{
	display: inline-block;
	float: left;
}
.login{
	display: inline-block;
	font-size: 18px;
	margin-right: 15px;
	margin-bottom: -5px;
	float: right;
}
.photo{
	display: inline-block;
	width: 40%;
	height: 400px;
	border: 1px solid grey;
	margin-left: 20px;
	float: left;
}
.container2{
	background-color: #d7ebf5;
	margin-top: -20px;
	height: 450px;
}
.other-contacts{
	display: inline-block;
	width: 120px;
	height: 20px;
	text-align: top;
	margin-left:8%;
	margin-top: 8px;
	float: left;
}
.other{
	display: inline-block;
	width: 45%;
	height: 100px;
	text-align: top;
	margin-left:8%;
	margin-top: 8px;
	border: 1px solid grey;
}
.bioinfo{
	display: inline-block;
	width: 120px;
	height: 20px;
	text-align: top;
	margin-left:8%;
	margin-top: 8px;
	float: left;
}
.bioinfo-text{
	display: inline-block;
	width: 45%;
	height: 225px;
	text-align: top;
	margin-left:8%;
	margin-top: 8px;
	border: 1px solid grey;
}
.loginpage{
	display: inline-block;
	font-size: 18px;
	margin-right: 15px;
	margin: 30%;
	margin-top: 10%;
	width: 330px;
	height: 125px;
	background-color: #d7ebf5;
	border-radius: 7px;
}
#id_Username{
	margin-left: 18px;
	margin-top: 10px;
}
#id_Password{
	margin-left: 20px;
}
label{
	margin-left: 3px;
	margin-top: 10px;
	margin-bottom: 0px
}
.subm_login{
	margin: 9px;
	margin-left: 130px;
}
.edit{
	display: inline-block;
	background-color: #d7ebf5;
	padding: 30px;
}
.edit input{
	margin: 5px;
	margin-right: 40px;
	width: 250px;
}
.edit label{
	width: 100px;
}
label[for=id_Photo]{
	float: left;
}
#preview{

	border: 1px solid grey;
	margin: 22px;
	margin-left: 28px;
}
label[for=id_Other_contacts], label[for=id_Bio]{
	width: 200px;
	display: block;
	float: left;
	margin-bottom: 10px;
}
#id_Other_contacts, #id_Bio{
	width: 400px;
}
#id_Other_contacts{
	height: 145px;
}
.wrapper{
	width: 450px
}
#preview.resize{
   width:200px;
   height:200px;
}
.edit #id_Username]{
	margin-left: 18px;
	margin-top: 10px;
	width: 30px;
}
.edit #id_Password{
	margin-left: 20px;
}