{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Requests{% endblock title %}
{% block extra_head %}
<script type="text/javascript" src="/static/hello/js/requests_page.js"></script>
{% endblock extra_head %}

{% block content %}
<div class="container-fluid">
  
  <div class="panel panel-success">
      <div class="panel-body"><h1>42 Coffee Cups Test Assignment</h1>

      </div>
  </div>
  <table class="table">

    <tbody>
      <tr class="info">
        <td class="bold-column">Name</td>
        <td>form</td>
        <td class="bold-column">Contacts</td>
        <td>form</td>

      </tr>
      <tr class="info">
        <td class="bold-column">Last name</td>
        <td>form</td>
        <td class="bold-column">Email:</td>
        <td>form</td>
      </tr>
      <tr class="info">
        <td class="bold-column">Date of birst</td>
        <td>form</td>
        <td class="bold-column">Skype:</td>
        <td>form</td>
      </tr>
     <tr class="info">
        <td class="bold-column">Photo:</td>
        <td class="bio"></td>
        <td class="bold-column">Jabber:</td>
        <td>form</td>
    </tr>
  </tbody>
  </table>
  <div class="container2">
      <div class="photo"></div>
      <div class="other-contacts bold-column">Other contacts:</div>
      <div class="other">form</div>
      <div class="bioinfo bold-column">Bio:</div>
      <div class="bioinfo-text">form</div>
  </div>
</div>
{% endblock %}