{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Main page{% endblock title %}

{% block content %}

    <div class="container-fluid">
      
      <div class="panel panel-success">
          <div class="panel-body"><h1>42 Coffee Cups Test Assignment</h1></div>
      </div>
      <table class="table">

        <tbody>
          <tr class="info">
            <td class="bold-column">Name</td>
            <td>{{info.name}}</td>
            <td class="bold-column">Contacts</td>
            <td>{{info.contacts}}</td>

          </tr>
          <tr class="info">
            <td class="bold-column">Last name</td>
            <td>{{info.last_name}}</td>
            <td class="bold-column">Email:</td>
            <td>{{info.email}}</td>
          </tr>
          <tr class="info">
            <td class="bold-column">Date of birth</td>
            <td>{{info.date_of_birst}}</td>
            <td class="bold-column">Skype:</td>
            <td>{{info.skype}}</td>
          </tr>
         <tr class="info">
            <td class="bold-column">Bio:</td>
            <td class="bio">{{info.bio}}</td>
            <td class="bold-column">
                <table class="table inner">
                  <tbody>
                    <tr class="info"><td class="bold-column">Jabber:</td></tr>
                    <tr class="info"><td class="bold-column">Other contacts</td></tr>
                  </tbody>
                </table>
            </td>
            <td>
                <table class="table inner">
                  <tbody>
                    <tr class="info"><td>{{info.jabber}}</td></tr>
                    <tr class="info"><td>{{info.other_contacts}}</td></tr>
                  </tbody>
                </table>
            </td>

          </tr>

        </tbody>
      </table>
    </div>



{% endblock content %}