{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Requests{% endblock title %}
{% block extra_head %}
<script type="text/javascript" src="/static/hello/js/requests_page.js">
</script>
{% endblock extra_head %}

{% block content %}
<div class="container-fluid">

  <div class="panel panel-success">
      <div class="panel-body"><h1><span class="count"></span>
      Requests</h1></div>
  </div>

  <div class="panel panel-info">
      <div class="panel-body">
        <p class="last"><span class="span_last">Last requests:</span></p>
        {% for i in objects %}
	            <p class="path">{{ i.method }} {{ i.path }}, 
              {{ i.requests_date_time|date:"Y-m-d H:i" }}
               <span class="c" style="display: none">{{i.pk}}</span></p>

        {% endfor %}
      </div>

      {% csrf_token %}   
      <a class="back" href="/">Go to the main page</a>

  </div>
	<form class="forajax" id="postform" method='post'>
		{% csrf_token %}
	</form>

 </div>

{% endblock %}

{% block footer %}{% endblock %}
