{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}Site Name</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>

          <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <style type="text/css">
            .panel{
                margin: auto;
                text-align: center;
                border: 2px solid green;
                border-radius: 7px;
            }
            td{
                width: 200px;
            }
            .bold-column{
                font-weight: bold;
                width: 50px;
            }
            .inner{
                margin: -9px;
            }
        </style>

        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        {% block content %}

            <div class="container-fluid">
              
              <div class="panel panel-success">
                  <div class="panel-body"><h1>42 Coffee Cups Test Assignment</h1></div>
              </div>
              <table class="table">

                <tbody>
                  <tr class="info">
                    <td class="bold-column">Name</td>
                    <td>Yevhen</td>
                    <td class="bold-column">Contacts</td>
                    <td>+380502455842</td>

                  </tr>
                  <tr class="info">
                    <td class="bold-column">Last name</td>
                    <td>Kudrya</td>
                    <td class="bold-column">Email:</td>
                    <td>yevhenkudrya@gmail.com</td>
                  </tr>
                  <tr class="info">
                    <td class="bold-column">Date of birst</td>
                    <td>21.01.1990</td>
                    <td class="bold-column">Skype:</td>
                    <td>seekandstrike</td>
                  </tr>
                 <tr class="info">
                    <td class="bold-column">Bio:</td>
                    <td class="bio">Yevhen Kudrya, Python-developer, Kharkiv, Ukraine</br>
                    Was burn in Kharkiv on 21 January 1990. In 1993 relocated 
                    in Chuguiv, Kharkivska region. In septemper 1997 began to study at scool. In 2007 finished Chuguiv Gymnasium №5 and entered to National Technical University "Kharkiv Polytechnical Institute", machine building department. In June 2011 graduated with a Bachelor and in February 2013 with a Specialist. In February 2013 got a job as design-engineer at Kharkiv Tractor Plant. In March 2014 fired width personal reducing. In 2014 worked in freelance as copywriter. In 2015 began to learn coding</td>
                    <td class="bold-column">
                        <table class="table inner">
                          <tbody>
                            <tr class="info"><td class="bold-column">Jabber:</td></tr>
                            <tr class="info"><td class="bold-column">Other contacts</td></tr>
                          </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table inner">
                          <tbody>
                            <tr class="info"><td>relhz@42cc.co</td></tr>
                            <tr class="info"><td>--</td></tr>
                          </tbody>
                        </table>
                    </td>

                  </tr>

                </tbody>
              </table>
            </div>



        {% endblock content %}
    </body>
</html>
