{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}Site Name</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>

          <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/hello/css/style.css">

        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        {% block content %}

            <div class="container-fluid">
              
              <div class="panel panel-success">
                  <div class="panel-body"><h1>42 Coffee Cups Test Assignment</h1></div>
              </div>
              <table class="table">

                <tbody>
                  <tr class="info">
                    <td class="bold-column">Name</td>
                    <td></td>
                    <td class="bold-column">Contacts</td>
                    <td></td>

                  </tr>
                  <tr class="info">
                    <td class="bold-column">Last name</td>
                    <td></td>
                    <td class="bold-column">Email:</td>
                    <td></td>
                  </tr>
                  <tr class="info">
                    <td class="bold-column">Date of birst</td>
                    <td></td>
                    <td class="bold-column">Skype:</td>
                    <td></td>
                  </tr>
                 <tr class="info">
                    <td class="bold-column">Bio:</td>
                    <td class="bio"></td>
                    <td class="bold-column">
                        <table class="table inner">
                          <tbody>
                            <tr class="info"><td class="bold-column">Jabber:</td></tr>
                            <tr class="info"><td class="bold-column">Other contacts</td></tr>
                          </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table inner">
                          <tbody>
                            <tr class="info"><td></td></tr>
                            <tr class="info"><td></td></tr>
                          </tbody>
                        </table>
                    </td>

                  </tr>

                </tbody>
              </table>
            </div>



        {% endblock content %}
    </body>
</html>
