.container-fluid{
    max-width: 900px;
}
.panel-success{
    margin: auto;
    text-align: center;
    border: 2px solid green;
    border-radius: 7px;
}
.td{
    display: inline-block;
    width: 270px;
    margin: 10px;
}
hr{
    border: none; 
    color: green; 
    background-color: green; 
    height: 2px;
    margin-bottom: 5px;
}
.bold-column{
    display: inline-block;
    font-weight: bold;
    width: 70px;
    margin-left: 20px;
}
.table{
    display: inline-block;
    background-color: #d7ebf5;
    padding: 10px;
    padding-top: 20px;
}
.wrapper{
    width: 450px;
}
.bio, .other_contacts{
    float: left;
    margin-top: 10px;
}
.message{
    display: inline-block;
    font-size: 20px;
    margin: 20%;
}
.panel-info{
    margin: auto;
    text-align: left;
    background-color: #d7ebf5
}
.last{
    padding: 50px;
    padding-bottom: 5px;
    font-size: 20px;
}
.path{
    margin-left: 70px;
    margin-bottom: 10px;
}
.count{
    width: 30px;
}
.req{
    margin-left: 5%;
    margin-top: -20px
}
.back{
    margin-left: 5%;
}
.panel-body h1{
    display: inline-block;
    float: left;
}
.login{
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
    margin-bottom: -5px;
    float: right;
}
.photo{
    display: inline-block;
    width: 40%;
    height: 400px;
    border: 1px solid grey;
    margin-left: 20px;
    float: left;
}
.container2{
    background-color: #d7ebf5;
    margin-top: -20px;
    height: 450px;
}
.other-contacts{
    display: inline-block;
    width: 120px;
    height: 20px;
    text-align: top;
    margin-left:8%;
    margin-top: 8px;
    float: left;
}
.other{
    display: inline-block;
    width: 45%;
    height: 100px;
    text-align: top;
    margin-left:8%;
    margin-top: 8px;
    border: 1px solid grey;
}
.bioinfo{
    display: inline-block;
    width: 120px;
    height: 20px;
    text-align: top;
    margin-left:8%;
    margin-top: 8px;
    float: left;
}
.bioinfo-text{
    display: inline-block;
    width: 45%;
    height: 225px;
    text-align: top;
    margin-left:8%;
    margin-top: 8px;
    border: 1px solid grey;
}
.loginpage{
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
    margin: 30%;
    margin-top: 10%;
    width: 241px;
    background-color: #d7ebf5;
    border-radius: 7px;
}
#id_username{
    margin-left: 18px;
    margin-top: 10px;
}
#id_password{
    margin-left: 20px;
}
label{
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 0px
}
.subm{
    margin: 9px;
    margin-left: 130px;
}
.subm_login{
    margin: 9px;
    margin-left: 88px;
}
.edit{
    display: inline-block;
    background-color: #d7ebf5;
    padding: 30px;
}
.edit input{
    margin: 5px;
    margin-right: 40px;
    width: 250px;
    border-radius: 7px;
}
.edit label{
    width: 100px;
}
label[for=id_photo]{
    float: left;
}
#preview{
    border: 1px solid grey;
    margin: 22px;
    margin-left: 28px;
}
label[for=id_other_contacts], label[for=id_bio]{
    width: 200px;
    display: block;
    float: left;
    margin-bottom: 10px;
}
#id_other_contacts, #id_bio{
    width: 400px;
    border-radius: 7px;
}
#id_other_contacts{
    height: 145px;
}
.wrapper{
    width: 450px
}
#preview.resize{
    width:200px;
    height:200px;
}
.loginedit input{
    margin: 5px;
    width: 130px;
    height: 23px;
}
.loginedit label{
    width: 50px;
    font-weight: normal;
    margin: 5px;
}
.loginedit input[class="subm"]{
    width: 49px;
    height: 26px;
}
#save{
    width: 49px;
    height: 26px;
    margin-left: 20px;
}
.status{
    font-size: 17px;
    margin-left: 25px;
    color: green;
    display: none;
}
#myphoto{
    margin-left: 5%;
}
.bar{
    display: inline-block;
    height: 10px;
    background-color: green;
}
.bypriority{
    margin-left: 50px;
    margin-bottom: 15px;
}
.priority{
    width: 35px;
    height: 17px;
    vertical-align: middle
}
.okpriority{
    width: 27px;
    height: 17px;
    vertical-align: bottom;
    line-height: 5px;
    font-size: 0.9em;
    text-align: right;
}
.priorityform{
    display: none;
}
.priordiv{
    display: inline-block;
    cursor: pointer;
}