.container-fluid{
    max-width: 900px;
}
.panel-success{
    margin: auto;
    text-align: center;
    border: 2px solid green;
    border-radius: 7px;
}
.td{
    display: inline-block;
    width: 270px;
    margin: 10px;
}
hr{
    border: none; 
    color: green; 
    background-color: green; 
    height: 2px;
    margin-bottom: 5px;
}
.bold-column{
    display: inline-block;
    font-weight: bold;
    width: 70px;
    margin-left: 20px;
}
.table{
    display: inline-block;
    background-color: #d7ebf5;
    padding: 10px;
    padding-top: 20px;
}
.wrapper{
    width: 450px;
}
.bio, .other_contacts{
    float: left;
    margin-top: 10px;
}
.message{
    display: inline-block;
    font-size: 20px;
    margin: 20%;
}
.panel-info{
    margin: auto;
    text-align: left;
    background-color: #d7ebf5
}
.last{
    padding: 50px;
    padding-bottom: 20px;
    font-size: 20px;
}
.path{
    margin-left: 70px;
}
.count{
    width: 30px;
}
.req{
    margin-left: 5%;
}